<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Git : Issue as Comments</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">

  <!-- js - lib -->
  <script src="../lib/jquery.js"></script>
  <script src="../lib/bootstrap.min.js"></script>
  <!-- endjs - lib -->
</head>
<body onload="loadComment()">
	<!-- retrieveIssues -->
	<h1>Comment using issues :</h1>
	<div id="comments" class="list-group">

	</div>
	<div id="addComment">
		<a href="https://github.com/whispyy/API-git/issues" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" target="_blank">Add Issue</a>
	</div>

	<hr>
	<!-- postIssues -->
	<div>
		<input id="username" type="text" placeholder="username">
		<input id="password" type="password" placeholder="password">

		<input id="title" type="text" placeholder="Title">
		<input id="body" type="text" placeholder="Body">
		<button class="btn btn-primary btn-float" id="sendIssue">
			Send Issue
		</button>
	</div>
	<div>
		<script type="text/javascript">
			  
		</script>
		<script src="../js/retrieveIssues.js"></script>
		<script src="../js/pushIssues.js"></script>

	</div>
</body>
</html>